%body
  %header.header
    %nav.nav
      %ul.header_menu
        %li.header_menu_title= link_to "Task Management", root_path, class: "nav-link"
        - if user_signed_in?
          %li.nav-link= current_user.name
        %li
          %ul.header_menu_inner
            %li= link_to "グループ一覧", groups_path, class: "nav-link groupNew" if current_user
            %li= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link" if current_user

