<div class = "container_group">
  <% current_user.groups.each do |group| %>
    <ul>
      <li>
        <%# <% link_to group_path(group), class: "container_group_link" do %>
          <% if group.name? %>
            <%= group.name %>
          <% else %>
            <p>グループを作成して下さい</p>
          <% end %>
        <%# <% end %>
      </li>
    </ul>
  <% end %>
</div>