.cardeditPgae {
  .cardeditForm {
    max-width: 500px;
    margin: 0px auto 0;
    &_title, &_memo {
      margin-bottom: 30px;
    }
    #card_status{
      float: right;
      margin-top: 10px;
    }
    #groupcard_status{
      float: right;
      margin-top: 10px;
    }
  }
}