.topPage {
  width: 100%;
  min-height: 93vh;
  padding-top: 30px;
  overflow-x: scroll;
  .listWrapper {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    align-items: baseline;
    .list {
      height: 100%;
      width: 25vw;
      position: relative;
      padding: 10px;
      margin:20px 20px;
      min-width: 250px;
      box-shadow: 0 3px 5px rgba(90, 194, 238, 0.5);
      border: solid 1px #95ccff;
      border-radius: 8px;
      &:last-child {
        margin-right: 20px;
      }
      &_header {
        width: 100%;
        margin-bottom: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &_title {
          position: absolute;
          top: -15px;
          font-size: 20px;
          font-family: 'Montserrat', sans-serif;
          padding: 3px 3px;
          margin: 0;
          border: solid 3px #95ccff;
          border-radius: 8px;
          background-color: #fff;
          color: #565656;
        }
        &_action{
          position: absolute;
          right: 3px;
          top: 3px;
          display: flex;
          .fa-pen, .fa-trash{
            font-size: 18px;
            color: #8c8c8c;
          }
          .fa-trash{
            margin-right: 5px;
          }
        }
      }
      .cardWrapper {
        overflow-y: scroll;
        max-height: 76vh;
        .cardDetail_link {
          text-decoration: none;
          color: #323232;
        }

        .card {
          margin-bottom: 10px;
          padding: 10px;
          &_title {
            font-size: 17px;
          }
          &_status{
            float: left;
          }
            &_detail {
              display: none;
              &.is-exist {
                display: inline-block;
                color: #323232;
                float: right;
                margin-top: 5px;
                & > i {
                  display: block;
              }
            }
          }
        }
        .addCard {
          display: flex;
          justify-content: center;
          color: #8c8c8c;
          &_link {
            color: #8c8c8c;
          }
          .far{
            margin: 4px 10px 0 0;
          }
        }
      }
    }
  }
}